#div1{
	width: 700px;
}
#div2{
	width: 900px;
    padding-top: 20px;
    text-align: left;
}
#history{
	width: 800px;
	overflow:scroll;
}
#usr{
	position: absolute;
	right:150px;
}
body{
    padding-top: 50px;
	text-align:center;
}